http_interactions:
- request:
    method: post
    uri: http://www.ilincs.org/api/ilincsR/downloadSignature?sigID=LINCS_INV&noOfTopGenes=978
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"error":{"statusCode":400,"name":"Error in iLincsR downloadSignature
        function. No genes or wrong data set picked.","message":"could not run statement:
        You have an error in your SQL syntax; check the manual that corresponds to
        your MySQL server version for the right syntax to use near ''from  where signatureID=''LINCS_INV''''
        at line 1\n\nIn call:\n.local(conn, statement, ...)\n","code":"ilincsR_ERROR"}}'
  recorded_at: 2023-10-08 19:17:09 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
